/* add format for all page */
*{
    font-family: Arial, Helvetica, sans-serif;
}


/* add grey background in body */
body{
    background-color: rgb(233, 233, 233);
    margin: 0;
    padding: 0;
}

/* formatting header */
header{
    background-color: white;
    height: 60px;
}

/* formatting logo img */
#logo{
    margin: 5px 0 5px 8px;
    vertical-align: middle;
}

/* formatting logo text */
#logo-text{
    font-size: 30px;
    font-weight: 600;
    vertical-align: middle;
}

/* formatting main */
main{
    background-color: white;
    margin: 40px 9%;
}

/* formatting button container */
#button-container{
    padding: 12px 3% 7px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

/* formatting buttons */
.add{
    background-color:white;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    box-sizing: content-box;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 8px;
    cursor: -webkit-grab; cursor: grab;
}

#add-task{
    color: white;
    background-color: rgb(85, 190, 255);
    border-color:rgb(85, 190, 255);
}

#add-section{    
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}
/* end of buttons */
